<div class="container-fluid">

  <div class="jumbotron">
    <h1 class="display-4">Send Message</h1>
    <p class="lead">This is a simple chat server</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <input id="name-txt" class="form-control" placeholder="Name">
    <br>
    <textarea id="message" , class="form-control" placeholder="Your Message Here"></textarea>
    <a id="send-btn" class="btn btn-primary btn-lg mt-3" role="button">Send</a>
    <hr class="my-4">
    <div id="messages">
      <!-- Messages goes here -->

      <div id="message-div">
        {{#each chatTB}}
        <h4>{{this.name}}</h4>
        <p>{{this.message}}</p>
        {{/each}}
      </div>

    </div>
  </div>

</div>