<!-- log in div start -->
<div id="log-me-in">

    <h1 class="display-4">Registration Success!</h1>
    <p class="lead">Login your new account</p>
    <div>
        <form action="auth" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" id="been-here-before" class="btn btn-info">Submit</button>&nbsp;
        </form>
    </div>
    <hr class="my-4">

</div> <!-- closing div for area -->