<!-- log in div start -->
<div id="log-me-in">

    <h1 class="display-4">Log in</h1>
    <p class="lead">Already Registered?</p>
    <div>
        <form action="auth" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" id="been-here-before" class="btn btn-info">Submit</button>&nbsp;
            <a id="new-register" href="/register" class="btn btn-info">Not Registered Yet?</a>
        </form>
    </div>
    <hr class="my-4">

</div> <!-- closing div for area -->