	<div class="portfoliocard">
		<div class="coverphoto"></div>
		<div class="profile_picture"></div>
		<div class="left_col">
		</div>
		<div class="right_col">
			<h2 class="name">John Doe</h2>
			<ul class="contact_information">
				<li class="mail">john.doe@apple.com</li>
			</ul>
		</div>
		</div>